body {
    background-color: #a66400;
    background-image: url("../images/wood-pattern.png");
    /* source: https://www.transparenttextures.com/wood-pattern.html */
}

#branding {
    font-family: 'Pacifico', cursive;
    color: dimgray;
    /* color: #ffff66; */
    text-align: center;
    vertical-align: center;
    padding-top: 10px;
    height: 20px;
}

#calculatorFrame {
    display: block;
    margin: auto;
    margin-top: 50px;
    background-color: burlywood;
    width: 380px;
    height: 480px;
    text-align: right;
    border-radius: 3%;
    box-shadow: -6px 6px 14px rgba(100, 100, 100, .8);
}

#displayPanel {
    display: block;
    font-family: 'Oxygen Mono', monospace;
    background-color: gainsboro;
    margin: 10px 24px;
    padding: 10px;
    height: 40px;
    border-radius: 5px;
    box-shadow: inset -1px 2px 8px rgba(100, 100, 100, .8);
}

#previewText {
    font-size: 0.8rem;
    margin-bottom: 4px;
}

#resultText {
    font-size: 1.5rem;
}

#buttonContainer {
    margin: 2px;
    padding-left: 18px;
    display: block;
    text-align: left;
}

.calButtons {
    font-size: 1.2rem;
    width: 56px;
    height: 40px;
    margin: 10px 4px;
    color: whitesmoke;
    background-color: brown;
    border-color: rgb(153, 38, 38);
    border-radius: 12px;
    box-shadow: -1px 2px 8px rgba(100, 100, 100, .8);
    outline: none;
}

.calButtons:active {
    background-color: rgb(219, 88, 88);
    box-shadow: 0 1px #666;
    transform: translateY(2px);
}

.calButtons:hover {
    background-color: rgb(221, 101, 101);
}

#buttonEql {
    height: 98px;
    float: right;
    margin-right: 25px;
}

#button0 {
    width: 124px;
}
